header .sprite {
  padding: 10px;
  background-position: -66px 0;
  transform: rotate(180deg); }

main {
  height: 100%;
  padding: 5px;
  background-color: #eef2f2; }
  main > div {
    margin: 5px 0;
    background-color: #fff; }
  main > button {
    width: 100%;
    height: 46px;
    color: #fff;
    background-color: orange; }
  main > .theme {
    padding: 5px 0; }
  main > .people {
    height: 280px;
    padding: 20px; }
  main > .number {
    height: 100px; }
    main > .number .number-input {
      border: 1px #aaa solid;
      width: 35px;
      background-color: #eef2f2; }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .popup > div {
    position: relative;
    top: 50%;
    width: 50%;
    height: 80px;
    margin: 0 auto;
    background-color: #fff; }
    .popup > div > div {
      height: 50px;
      line-height: 50px; }
  .popup button {
    width: 50%;
    height: 30px;
    border: 1px #888 solid;
    background-color: #fff; }
