header {
  padding: 0 1rem;
  background-color: #5ac0ce; }

.hambur-btn {
  border: 1px #fff solid;
  background-color: transparent; }
  .hambur-btn .icon-bar {
    border-top: 1px #fff solid;
    width: 16px;
    height: 0;
    margin: 4px 1px; }

.header-photo {
  padding: 10px; }

.body-photo1 {
  padding: 13px;
  background-position: -70px -20px; }

main {
  padding: 5px;
  margin-bottom: 70px; }

.body-day {
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px; }

.time-line {
  position: relative;
  padding: 20px; }
  .time-line > .left {
    position: absolute;
    left: 0;
    width: 35px;
    height: 100%;
    border-right: 2px #eef2f2 solid;
    align-items: stretch; }
    .time-line > .left > .moon, .time-line > .left .sun {
      position: absolute;
      left: 15px;
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-color: #f7f7f7; }
    .time-line > .left > .moon {
      background-image: url(../photo/moon.png);
      top: 20px;
      background-position: 10px 7px; }
    .time-line > .left > .sun {
      background-image: url(../photo/sun.png);
      top: 75px;
      background-position: 7px 6px; }
  .time-line > .right {
    width: 80%; }
    .time-line > .right > .text {
      position: relative;
      height: 40px;
      line-height: 40px; }
      .time-line > .right > .text > .caret {
        position: absolute;
        top: 10px;
        left: -20px;
        border-right: 20px #5ac0ce solid;
        border-top: 10px transparent solid;
        border-bottom: 10px transparent solid; }

.color-end {
  background-color: #92b7a5; }

.line {
  height: 100%;
  border: 2px #eef2f2 solid; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 70px; }
  footer a {
    width: 80%; }
    footer a button {
      width: 100%;
      height: 40px; }
