body{
  margin: 0;
}
.nine{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 80vh;
  height: 80vh;
  margin: 0 auto;
  > div{
    width: 32%;
    height: 32%;
    border-radius: 5px;
    background-color: #ffa500;
  }
}
.js{
  text-align: center;
  width: 80vh;
  margin: 0 auto;
  > button{
    width: 100%;
    height: 40px;
    border: 1px #ffa500 solid;
    margin: 5px 0;
    background-color: #fff;
    color: #ffa500;
    &:hover{
      color: #fff;
      background-color: #ffa500;
    }
  }
}