body {
  width: 100vw;
  height: 100vh;
  background-color: #222939; }
  body > div {
    position: relative;
    width: 380px;
    height: 320px;
    background-color: #fff;
    border-radius: 5px; }
    body > div > .photo {
      position: relative;
      top: -38px;
      width: 75px;
      height: 75px;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url(../photo/carrots.png); }
    body > div > input, body > div .error, body > div button {
      width: 340px;
      height: 50px;
      margin-bottom: 15px; }
    body > div > input {
      margin-bottom: 15px;
      border: 0;
      border-radius: 5px;
      padding-left: 15px;
      color: #fdaa2a;
      background-color: #f8febc; }
      body > div > input:focus {
        box-shadow: 0 0 5px #888; }
    body > div > button {
      color: #fff;
      background-color: #508ac2; }
