* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px; }

.flex {
  display: flex; }

html {
  background-color: #efefef; }

header {
  height: 20px;
  background-color: #cb580e;
  border-bottom: 5px #eee solid; }

body {
  height: 100vh;
  width: 500px;
  margin: auto;
  background-color: #fff;
  overflow: hidden; }

.myInfo {
  justify-content: space-between;
  align-items: center;
  color: #cb580e;
  padding: 10px 30px; }
  .myInfo > .left > h1 {
    line-height: 3rem;
    font-size: 3rem;
    font-weight: 400; }
  .myInfo > .center > li {
    line-height: 3rem; }
  .myInfo > .right > img {
    width: 100px;
    border: 5px #fff solid;
    box-shadow: 2px 2px 4px #888; }

.titleLine {
  position: relative;
  background-color: #cb580e;
  width: 110px;
  height: 0;
  border-right: 25px #fff solid;
  border-top: 25px transparent solid; }
  .titleLine > h2 {
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 30px;
    color: #fff; }

.edit, .work {
  padding: 10px 30px; }
  .edit > h4, .work > h4 {
    justify-content: space-between;
    color: #cb580e; }
  .edit > ul > li, .work > ul > li {
    line-height: 2rem;
    font-weight: bold; }
