//默认配置
body,ul,p{
  margin: 0;
}
body{
  font-size: 62.5%;
}
button{
  padding: 0;
  border-color: transparent;
  &:focus{
    outline: none;
  }
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
abbr{
  text-decoration: none;
  border: 0;
  font-style: normal;
}
//input内number时取消默认按钮
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance:textfield;
}
input[type="number"]{
  -moz-appearance:textfield;
}