body, ul, p {
  margin: 0; }

body {
  font-size: 62.5%; }

button {
  padding: 0;
  border-color: transparent; }
  button:focus {
    outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

abbr {
  text-decoration: none;
  border: 0;
  font-style: normal; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: textfield; }

input[type="number"] {
  -moz-appearance: textfield; }

.flex {
  display: flex; }

.row {
  width: 1280px;
  margin: 0 auto; }

@media screen and (max-width: 1280px) {
  .row {
    width: 100%; } }
.flex-baseline {
  align-items: baseline; }

.flex-start {
  align-items: flex-start; }

.flex-1 {
  flex: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.outspace-center {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.outspace-top {
  margin-top: 1rem; }

.outspace-bottom {
  margin-bottom: 1rem; }

.inspace-center {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.inspace-top {
  padding-top: 1rem; }

.inspace-bottom {
  padding-bottom: 1rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-out-center {
  margin: 0 auto;
  text-align: center; }

.text-in-center {
  width: auto;
  display: inline-block;
  text-align: center; }

.text-in-left {
  width: auto;
  display: inline-block;
  text-align: left; }

.text-in-right {
  width: auto;
  display: inline-block;
  text-align: right; }

.xs-display, .display-none {
  display: none; }

.sm-display, .display-inherit {
  display: inherit; }

.display-block {
  display: block; }
