@import "../frame/part.scss";
html{
  background-color: $color-blue;
}
header{
    border-bottom: 1px #aaa solid;
  .header-photo1{
    padding: 10px;
    background-position: -66px 0;
    transform:rotate(180deg);
  }
  .header-photo2{
    padding: 10px;
    background-position: -100px 0;
  }
}
main{
  height: 100%;
  padding-top: 15px;
  > .cardId{
    position: relative;
    top: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 35px;
    background-color: #fff;
  }
  > .card-back,.card-man,.card-ghost{
    width: 300px;
    height: 370px;
    border: 2px #fff solid;
    margin: 0 auto;
    background-color: #ffedc5;
  }
  > .card-back{
    > img{
      width: 150px;
    }
  }
  > .card-man,.card-ghost{
    > img{
      width: 120px;
      padding-top:30px;
      padding-bottom: 15px;
    }
  }
  > .next{
    width: 300px;
    height: 50px;
    margin: 20px auto;
    background-color: $color-blue;
    > button{
      width: 100%;
      height: 100%;
      background-color: $color-orange;
    }
  }
}