<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../default.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
</head>
<body>
    <div class="app">
        <login></login>
    </div>
    <template id="login">
        <div>
            <div class="login-box">
                <h3 class="login-theme">登录界面</h3>
                <div class="login-box-input">
                    <input class="login-input" placeholder="请输入账号" v-model="user">
                    <label class="login-input-hover" for="">请输入账号</label>
                </div>
                <div class="login-box-input">
                    <input class="login-input" placeholder="请输入密码" v-model="password">
                    <label class="login-input-hover" for="">请输入密码</label>
                </div>
                <div class="login-error" v-text='error'></div>
                <button class="login-btn" @click="login">登录</button>
            </div>
        </div>
    </template>
    <script src="templates/js/vue.js"></script>
    <script src="templates/js/vue-router.js"></script>
    <script src="templates/js/a.js"></script>
</body>
</html>