body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.color-red {
  color: #ce593d; }

header, footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 1rem; }

.body-top, .body-bottom1, .body-bottom2 > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }

header {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  color: #fff;
  background-color: #5ac0ce; }

.nav-photo1 {
  background-image: url(sprite.png);
  padding: 10px 7px;
  background-position: 15px 22px; }

.body-top {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 164px;
  margin-top: 40px;
  background-image: url(headground.png); }
  .body-top > img {
    padding: 1rem; }
  .body-top > div {
    color: #fff;
    letter-spacing: 2px; }

.top-p {
  background-image: url(sprite.png);
  padding: 7px 7px;
  background-position: 12px -25px;
  float: left;
  margin-top: 7px; }

.body-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.body-bottom1, .body-bottom2 > div {
  padding: 1rem;
  border-bottom: 1px #eef2f2 solid; }

.body-bottom2 {
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 50px; }

.col-line1 {
  color: #5ac0ce;
  padding-right: 10px; }

.col-line2 {
  color: #eef2f2;
  padding: 0 10px; }

.star-p {
  background-image: url(sprite.png);
  padding: 10px 10px;
  background-position: -46px -46px; }

.list-q {
  color: #999;
  min-width: 64px; }

footer {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  bottom: 0;
  height: 50px; }
  footer button {
    width: 48%;
    height: 40px;
    border: 1px #5ac0ce solid;
    border-radius: 5px;
    font-size: 1rem; }

.footer-l {
  color: #5ac0ce;
  background-color: #fff; }

.footer-r {
  color: #fff;
  background-color: #5ac0ce; }
