.flex-row-n1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-n2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-n3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.flex-row-n4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-n5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-n1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-n2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-n3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.flex-col-n4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-n5 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-row-w1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-w2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-w3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.flex-row-w4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-w5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-w1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-w2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-w3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.flex-col-w4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-w5 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center; }

.flex-baseline {
  align-items: baseline; }

.flex-start {
  align-items: flex-start; }

.flex-1 {
  flex: 1; }

.children-part1 > div, .children-part1 > td, .children-part1 > li {
  width: 100%; }

.children-part2 > div, .children-part2 > td, .children-part2 > li {
  width: 50%; }

.children-part3 > div, .children-part3 > td, .children-part3 > li {
  width: 33.333333%; }

.children-part4 > div, .children-part4 > td, .children-part4 > li {
  width: 25%; }

.children-part5 > div, .children-part5 > td, .children-part5 > li {
  width: 20%; }

.children-part10 > div, .children-part10 > td, .children-part10 > li {
  width: 10%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.bgcolor-gary {
  background-color: #eef2f2; }

.bgcolor-white {
  background-color: #fff; }

.bgcolor-blue {
  background-color: #5ac0ce; }

.bgcolor-blue2 {
  background-color: #bae9f4; }

.bgcolor-orange {
  background-color: #f8b547; }

.bgcolor-green {
  background-color: #28b078; }

.color-gary {
  color: #b3b3b3; }

.color-green {
  color: #28b078; }

.color-white {
  color: #fff; }

.color-red {
  color: #ce593d; }

.color-orange {
  color: #f8b547; }

.color-blue {
  color: #5ac0ce; }

.outspace-center {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.outspace-top {
  margin-top: 1rem; }

.outspace-bottom {
  margin-bottom: 1rem; }

.inspace-center {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.inspace-top {
  padding-top: 1rem; }

.inspace-bottom {
  padding-bottom: 1rem; }

.text-size1 {
  font-size: 1.1rem; }

.text-size2 {
  font-size: 1.3rem; }

.text-size3 {
  font-size: 1.5rem; }

.text-size4 {
  font-size: 1.8rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-out-center {
  margin: 0 auto;
  text-align: center; }

.text-in-center {
  width: auto;
  display: inline-block;
  text-align: center; }

.text-in-left {
  width: auto;
  display: inline-block;
  text-align: left; }

.text-in-right {
  width: auto;
  display: inline-block;
  text-align: right; }

.xs-display, .display-none {
  display: none; }

.sm-display, .display-inherit {
  display: inherit; }

.display-block {
  display: block; }

body, ul, p {
  margin: 0; }

body {
  font-size: 14px; }

button {
  padding: 0;
  border-color: transparent; }
  button:focus {
    outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

abbr {
  text-decoration: none;
  border: 0;
  font-style: normal; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: textfield; }

input[type="number"] {
  -moz-appearance: textfield; }

body {
  width: 100vw;
  height: 100vh;
  background: url(../photo/flybg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden; }

.top {
  width: 100%;
  height: 70%; }
  .top > .name {
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-align: center; }
  .top > .photo {
    width: 100%;
    height: 100%; }
    .top > .photo > img {
      position: absolute;
      left: 0%;
      width: 100%;
      height: 400px;
      padding-bottom: 30px;
      margin: 0 auto;
      display: none; }
    .top > .photo > .active {
      display: block; }
    .top > .photo > .activein {
      display: block;
      animation: activein 1s forwards; }
    .top > .photo > .activeout {
      display: block;
      animation: activeout 1s forwards; }

.down {
  width: 100%;
  height: 30%; }
  .down > .fly1, .down .fly2, .down .fly3, .down .fly4, .down .fly5, .down .fly6 {
    width: 180px;
    height: 160px;
    background-image: url(../photo/flynav.png); }
    .down > .fly1:hover, .down .fly2:hover, .down .fly3:hover, .down .fly4:hover, .down .fly5:hover, .down .fly6:hover {
      background-position-y: -185px; }
  .down > .active {
    background-position-y: -185px; }
  .down > .fly1 {
    background-position-x: 12px; }
  .down > .fly2 {
    background-position-x: -175px; }
  .down > .fly3 {
    background-position-x: -360px; }
  .down > .fly4 {
    background-position-x: -545px; }
  .down > .fly5 {
    background-position-x: -735px; }
  .down > .fly6 {
    background-position-x: -920px; }

@keyframes activein {
  from {
    left: 100%; }
  to {
    left: 0%; } }
@keyframes activeout {
  from {
    left: 0%; }
  to {
    left: -100%; } }
