body{
  background-color: #fafafa;
}
.color-green{
  color: #28b078;
}
.bgcolor-green{
  background-color: #28b078;
}
.color-red{
  color: red;
}
.color-gray-h{
  color: #888;
}
.nav-top,.nav-sm-login,.nav-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.nav-sm-login{
  width: 100px;
}
.photo1,.photo2,.photo3{
  display: inline-block;
  padding: 12px 13px;
  background-image: url(sprite.png);
}
.photo2{
  background-position-x: -30px;
}
.photo3{
  background-position-x: -60px;
}
.nav-bottom{
  height: 60px;
  padding: 0;
}
.nav-sm-option > .active{
  border-bottom: 5px #fff solid;
  margin-bottom: -5px;
}
.sm-li > a{
  color: #fff;
}
.nav-xs-login > a{
  color: #000;
}
.nav-btn{
  background-color: #fff;
}
.icon-bar{
  background-color: #888;
}
.xs-option{
  position: absolute;
  z-index: 16;
  top: 50px;
  left: 0;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  background-color: #fff;
  display: none;
  list-style-type: none;
}
.xs-option > li{
  padding: 20px 0 20px 20px;
  border-bottom: 1px #eee solid;
}
.xs-option > li:hover{
  background-color: #eee;
}
.xs-option > li > a{
  display: block;
}
.xs-option:hover,.nav-btn:focus + .xs-option,.nav-xs-login,.nav-xs-option{
  display: block;
}
.nav-sm-option,.nav-sm-login{
  display: none;
}
/*主体*/
.body-photo-top > img{
  width: 100%;
}
.body-photo-top,.body-chara,.body-friend{
  margin-bottom: 50px;
}
.body-space{
  margin: 45px 0;
}
.body-chara-p1,.body-chara-p2,.body-chara-p3,.body-chara-p4,.body-how3{
  background: url(sprite.png) no-repeat;
}
.body-chara-p1{
  width: 50px;
  height: 60px;
  margin: 0 auto 20px auto;  
  background-position: -115px -20px;
}
.body-chara-p2{
  width: 60px;
  height: 50px;
  margin: 10px auto 20px auto; 
  background-position: 0px -30px;
}
.body-chara-p3{
  width: 55px;
  height: 60px;
  margin: 0 auto 20px auto;
  background-position: -60px -30px;
}
.chara-text{
  display: inline-block;
  width: auto;
  margin-top: 10px;
  text-align: left;
}
.body-chara-s{
  margin-top: 50px;
}
.body-chara-n{
  width: 150px;
  border: 0;
  padding: 0;
  margin: 50px auto 0 auto;
  text-align: center;
}
.body-chara-p4{
  width: 20px;
  margin: 0;
  padding-left: 20px;
  background-position: -120px 4px;
}
.body-how{
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 5px;
}
.body-how1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 2px #888;
  line-height: 40px;
}
.body-how2{
  flex: 1;
  padding: 0 15px;
}
.body-how3{
  width: 20px;
  height: 30px;
  background-position: -95px 0;
}
.body-student{
  background-color: #fff;
  box-shadow: 0 0 5px #888;
}
.body-student > img{
  padding: 10px 0;
}
.body-student-i{
  color: #888;
}
.body-student-btn{
  width: 10px;
  height: 10px;
  padding: 0;
  border:1px #888 solid;
  border-radius: 50%;
  margin-top: 10px;
  background-color: transparent;
}
.body-student-btn:focus{
  outline: none;
  background-color: #28b078;
}
.body-part{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 50%;
  height: 100px;
}
.body-part:hover{
  border: 1px #888 solid;
  box-shadow: 0 0 5px #888;
}
.body-link{
  padding: 0;
  background-color: #fff;
}
.link-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 1px;
}
.link-list > li{
  box-sizing: border-box;
  margin-left: 20px;
  min-width: 50px;
  text-align: left;
}
/*底部*/
.footer,.footer-part4{
  color: #fff;
  background-color: #28b078;
}
.footer-part{
  display: flex;
  flex-wrap: wrap;
}
.footer-part1,.footer-part2{
  width: 30%;
  min-width: 216px;
}
.footer-part1 > p,.footer-part2 > p{
  margin: 25px 0;
}
.footer-part3{
  width: 120px;
  text-align: center;
  margin-top: 25px;
  margin-right: 0;
}
.footer-empty{
  flex: 1;
}
.footer-link{
  color: #fff;
}
.footer-part4{
  border: 2px #31bb87 solid;
}