body{
  background-color: #fafafa;
}
.color-green{
  color: #28b078;
}
.bgcolor-green{
  background-color: #28b078;
}
.color-red{
  color: red;
}
.color-gray-h{
  color: #888;
}
.nav-top,.nav-sm-login,.nav-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.nav-sm-login{
  width: 100px;
}
.photo1,.photo2,.photo3{
  display: inline-block;
  padding: 12px 13px;
  background-image: url(sprite.png);
}
.photo2{
  background-position-x: -30px;
}
.photo3{
  background-position-x: -60px;
}
.nav-bottom{
  height: 60px;
  padding: 0;
}
.nav-sm-option > .active{
  border-bottom: 5px #fff solid;
  margin-bottom: -5px;
}
.sm-li > a{
  color: #fff;
}
.nav-xs-login > a{
  color: #000;
}
.nav-xs-login,.nav-xs-option{
  display: none;
}
@media screen and (max-width:768px){
  .nav-sm-option,.nav-sm-login{
    display: none;
  }
  .nav-xs-login,.nav-xs-option{
    display: block;
  }
}
.nav-btn{
  background-color: #fff;
}
.icon-bar{
  background-color: #888;
}
.xs-option{
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  background-color: #fff;
  display: none;
  list-style-type: none;
}
.xs-option > li{
  padding: 20px 0 20px 20px;
  border-bottom: 1px #eee solid;
}
.xs-option > li:hover{
  background-color: #eee;
}
.xs-option:hover{
  display: block;
}
.nav-btn:focus + .xs-option{
  display: block;
}
/*主体*/
.body-photo-top > img{
  width: 100%;
}
.body-bread{
  padding: 20px 0;
}
.body-bread > a{
  color: #28b078;
}
.body-main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.body-left,.body-right{
  background-color: #fff;
  box-shadow: 0 0 2px #888;
}
.body-left{
  width: 20%;
  min-width: 80px;
  margin-right: 20px;
}
.body-right{
  flex: 1;
}
.theme-r,.body-info > p{
  text-indent: 2rem;
}
.list-top{
  padding: 10px 0;
  border-bottom: 1px #d4d4d4 solid;
}
.list-circle{
  position: absolute;
  top: 6px;
  left: 0px;
  width: 0;
  height: 0;
  padding: 3px;
  border: 1px #bf7643 solid;
  border-radius: 50%;
}
.list-li{
  position: relative;
  width: 90px;
  padding-left: 10px;
  margin: 15px auto;
  text-align: left;
  color: #28b078;
}
.list-li > div,.list-li > strong{
  width: auto;
  display: inline-block;
  text-align: left;
}
.list-li:hover{
  color: #bf7643;
}
.list-li:hover > .list-circle{
  background-color: #bf7643;
}
.active{
  color: #bf7643;
}
.active > .list-circle{
  background-color: #bf7643;
}
.body-theme{
  display: flex;
  color: #888;
  padding: 10px;
  border-bottom: 1px #d4d4d4 solid;
}
.theme-l{
  display: flex;
  align-items: center;
  padding: 40px 20px 40px 40px;
}
.theme-r{
  display: flex;
  align-items: center;
}
.body-info{
  padding-bottom: 100px;
}
.body-info > p{
  color: #888;
  padding: 40px 40px 0 40px;
}
/*底部*/
.footer{
  margin-top: 150px;
}
.footer,.footer-part4{
  color: #fff;
  background-color: #28b078;
}
.footer-part{
  display: flex;
  flex-wrap: wrap;
}
.footer-part1,.footer-part2{
  width: 30%;
  min-width: 216px;
}
.footer-part1 > p,.footer-part2 > p{
  margin: 25px 0;
}
.footer-part3{
  width: 120px;
  text-align: center;
  margin-top: 25px;
  margin-right: 0;
}
.footer-empty{
  flex: 1;
}
.footer-link{
  color: #fff;
}
.footer-part4{
  border: 2px #31bb87 solid;
}