body{
  background-color: #fafafa;
}
p{
  text-indent: 2rem;
}
.nav-top1{
  line-height: 30px;
  height: 30px;
  min-height: 25px;
  margin-bottom: 0;
  border: 0;
  background-color: #fff;
}
.color-green{
  color: #28b078;
}
.nav-top2{
  padding:6px 33px 6px 0;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
}
.photo1{
  background-position: 3px 3px;
}
.photo2{
  background-position: -27px 3px;
}
.photo3{
  margin-right: 15px;
  background-position: -55px 3px;
}
.nav-top3{
  background-color: #28b078;
}
.nav-logo > img{
  margin: 20px 0;
}
.nav-top4 > a{
  padding: 27px 15px !important;
  color: #fff;
}
.active > a{
  color: #fff;
  border-bottom: 2px #fff solid;
  background-color: transparent;
}
/*主体*/
.body-photo-top > img{
  width: 100%;
}
.body-bread{
  padding: 20px 0;
}
.body-bread > a{
  color: #28b078;
}
.body-main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.body-left,.body-right{
  background-color: #fff;
  box-shadow: 0 0 2px #888;
}
.body-left{
  width: 180px;
  margin-right: 20px;
}
.body-right{
  flex: 1;
}
.list-top{
  padding: 10px 0;
  border-bottom: 1px #d4d4d4 solid;
}
.list-circle{
  position: absolute;
  top: 6px;
  left: -10px;
  width: 0;
  height: 0;
  padding: 3px;
  border: 1px #bf7643 solid;
  border-radius: 50%;
}
.list-li{
  position: relative;
  margin: 30px 0 10px 65px;
  color: #28b078;
}
.active{
  color: #bf7643;
}
.active > .list-circle{
  background-color: #bf7643;
}
.body-theme{
  display: flex;
  color: #888;
  padding: 10px;
  border-bottom: 1px #d4d4d4 solid;
}
.theme-l{
  padding: 40px 20px 40px 40px;
}
.theme-r{
  display: flex;
  align-items: center;
}
.body-info{
  padding-bottom: 100px;
}
.body-info > p{
  color: #888;
  padding: 40px 40px 0 40px;
}
/*底部*/
.footer{
  margin-top: 150px;
}
.footer,.footer-part4{
  color: #fff;
  background-color: #28b078;
}
.footer-part1,.footer-part2{
  float: left;
  width: 30%;
}
.footer-part1 > p,.footer-part2 > p{
  margin: 25px 0;
}
.footer-part3{
  float: right;
  width: 40%;
  text-align: right;
  margin-top: 25px;
}
.footer-link{
  color: #fff;
}
.footer-part4{
  border: 2px #31bb87 solid;
}