*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 300px;
}
.roll-img{
    position: absolute;
    width: 400px;
    height: 300px;
    margin: auto;
    transition: all 1s linear;
    z-index: 1;
}
.roll-img > img{
    width: 100%;
    height: 100%;
}
.active{
    animation: imgmovein 2s linear forwards; 
}
.active2{
    animation: imgmoveout 2s linear forwards;
}
.img1{
    transform: rotateZ(12deg);
}
.img2{
    transform: rotateZ(-10deg);
}
.img3{
    transform: rotateZ(5deg);
}
.img4{
    transform: rotateZ(0deg);
}
@keyframes imgmovein{
    0%{transform: translateY(0);z-index: 2;}
    50%{transform: translateY(-400px);z-index: 2;}
    50.1%{transform: translateY(-400px);z-index: 0;}
    100%{transform: translateY(0);z-index: 0;}
}
@keyframes imgmoveout{
    0%{transform: translateY(0);z-index: 0;}
    50%{transform: translateY(-400px);z-index: 0;}
    50.1%{transform: translateY(-400px);z-index: 2;}
    100%{transform: translateY(0);z-index: 2;}
}