body{
	margin:0;
	background-color: #68CDD6;
}
.back{
	height:7rem;
	margin:1.25rem 0 0 1.25rem;
	background:url(back2.png) no-repeat;
}
.theme{
	height:5.5rem;
	margin:0 auto;
	background:url(theme2.png) no-repeat top center;
}
.abstract{
	height:10rem;
	width:80%;
	margin:0 auto;
	color:white;
	font-size:0.5rem;
}
.user,.photo{
	width:4rem;
	height:10rem;
	color:white;
	font-size:0.5rem;
	text-align:center;
	line-height:7.5rem;
}
.user{
	float:left;
	margin-left:10%;
	background:url(user2.png) no-repeat top center;
}
.photo{
	float:right;
	margin-right:10%;
	background:url(photo2.png) no-repeat top center;
}