.flex-row-n1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-n2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-n3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.flex-row-n4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-n5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-n1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-n2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-n3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.flex-col-n4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-n5 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-row-w1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-w2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-w3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.flex-row-w4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-w5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-w1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-w2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-w3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.flex-col-w4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-w5 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center; }

.flex-1 {
  flex: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }
