body{
  margin: 0;
}
header,footer{
  position: fixed;
  width: 100%;
  height: 2.5rem;
}
header{
  top: 0;
  background-color: #5ac0ce;
}
footer{
  bottom: 0;
  background-color: #fff;
}
main{
  margin-top: 2rem;
}
.back,.theme{
  float: left;
  width: 10%;
  height: 2rem;
  line-height: 2.5rem;
  color: #fff;
}
.theme{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.people{
  background: url(headground.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 10.25rem;
  color: #fff;
}
.headphoto{
  float: left;
  background: url(headphoto.png) no-repeat right center;
  width: 20%;
  height: 100%;
}
.name,.address{
  float: left;
  width: 50%;
  height: 50%;
  padding-left: 1rem;
}
.name{
  line-height: 8.5rem;
}
.skill{
  border-bottom: 1px #9e9e9e solid;
  font-size: 10px;
  padding: 1rem 0;
}
.skill > div{
  padding-left: 0.5rem;
  border-left: 5px #5ac0ce solid;
  margin-left: 1rem;
}/*专业技能*/
.live,.exp,.time,.price,.self{
  display: flex;
  align-items: center;
  width: calc(100% - 1rem);
  border-bottom: 1px #9e9e9e solid;
  font-size: 10px;
  padding: 1rem 0;
  margin-left: 1rem;
}
.live > img{
  margin: 0 2px;
}
.question{
  width: 3rem;
  height: 100%;
  color: #9e9e9e;
  padding: 0 0.5rem 0 0.5rem;
  border-right: 1px #9e9e9e solid;
}
.answer{
  width: calc(100% - 81px);
  padding: 0 0.5rem 0 0.5rem;
}
.self{
  margin-bottom: 10rem;
}
.message{
  position: absolute;
  color: #5ac0ce;
  width: 48%;
  height: 90%;
  line-height: 2.25rem;
  text-align: center;
  border: 2px #5ac0ce solid;
  border-radius: 5px;
}
.tel{
  position: absolute;
  background-color: #5ac0ce;
  color: #fff;
  right: 0;
  width: 48%;
  height: 90%;
  line-height: 2.25rem;
  text-align: center;
  border: 2px #5ac0ce solid;
  border-radius: 5px;
}
