//默认配置
body,ul,p{
  margin: 0;
}
body{
  font-size: 14px;
}
button{
  padding: 0;
  border-color: transparent;
  &:focus{
    outline: none;
  }
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}