.flex-row-n1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-n2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-n3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.flex-row-n4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-n5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-n1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-n2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-n3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.flex-col-n4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-n5 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }

.flex-row-w1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-w2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-w3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.flex-row-w4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-w5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }

.flex-col-w1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-w2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center; }

.flex-col-w3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.flex-col-w4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-w5 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center; }

.flex-baseline {
  align-items: baseline; }

.flex-start {
  align-items: flex-start; }

.flex-1 {
  flex: 1; }

.children-part1 > div, .children-part1 > td, .children-part1 > li {
  width: 100%; }

.children-part2 > div, .children-part2 > td, .children-part2 > li {
  width: 50%; }

.children-part3 > div, .children-part3 > td, .children-part3 > li {
  width: 33.333333%; }

.children-part4 > div, .children-part4 > td, .children-part4 > li {
  width: 25%; }

.children-part5 > div, .children-part5 > td, .children-part5 > li {
  width: 20%; }

.children-part10 > div, .children-part10 > td, .children-part10 > li {
  width: 10%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }
