//----------------------------------------------布局相关-------------------------------------------------
//弹性布局（横向不换行）
@mixin flex-row-n($text){
  display: flex;
  flex-flow: row nowrap;
  justify-content: $text;
  align-items: center;
}
  //弹性布局（纵向不换行）
@mixin flex-col-n($text){
  display: flex;
  flex-flow: column nowrap;
  justify-content: $text;
  align-items: center;
}
  //弹性布局（横向换行）
@mixin flex-row-w($text){
  display: flex;
  flex-flow: row wrap;
  justify-content: $text;
  align-items: center;
}
  //弹性布局（纵向换行）
@mixin flex-col-w($text){
  display: flex;
  flex-flow: column wrap;
  justify-content: $text;
  align-items: center;
}
  //fix导航
@mixin nav-fix($width){
  position: fixed;
  width: $width;
}
//----------------------------------------------应用-------------------------------------------
//弹性布局（横向不换行）
.flex-row-n1{
  @include flex-row-n(flex-start);
}
.flex-row-n2{
  @include flex-row-n(flex-end);
}
.flex-row-n3{
  @include flex-row-n(center);
}
.flex-row-n4{
  @include flex-row-n(space-between);
}
.flex-row-n5{
  @include flex-row-n(space-around);
}
//弹性布局（纵向不换行）
.flex-col-n1{
  @include flex-col-n(flex-start);
}
.flex-col-n2{
  @include flex-col-n(flex-end);
}
.flex-col-n3{
  @include flex-col-n(center);
}
.flex-col-n4{
  @include flex-col-n(space-between);
}
.flex-col-n5{
  @include flex-col-n(space-around);
}
//弹性布局（横向换行)
.flex-row-w1{
  @include flex-row-w(flex-start);
}
.flex-row-w2{
  @include flex-row-w(flex-end);
}
.flex-row-w3{
  @include flex-row-w(center);
}
.flex-row-w4{
  @include flex-row-w(space-between);
}
.flex-row-w5{
  @include flex-row-w(space-around);
}
//弹性布局(纵向换行)
.flex-col-w1{
  @include flex-col-w(flex-start);
}
.flex-col-w2{
  @include flex-col-w(flex-end);
}
.flex-col-w3{
  @include flex-col-w(center);
}
.flex-col-w4{
  @include flex-col-w(space-between);
}
.flex-col-w5{
  @include flex-col-w(space-around);
}
.flex-baseline{
  align-items: baseline;
}
.flex-start{
  align-items: flex-start;
}
.flex-1{
  flex: 1;
}
.children-part1 > div,.children-part1 > td,.children-part1 > li{
  width: 100%;
}
.children-part2 > div,.children-part2 > td,.children-part2 > li{
  width: 50%;
}
.children-part3 > div,.children-part3 > td,.children-part3 > li{
  width: 33.333333%;
}
.children-part4 > div,.children-part4 > td,.children-part4 > li{
  width: 25%;
}
.children-part5 > div,.children-part5 > td,.children-part5 > li{
  width: 20%;
}
.children-part10 > div,.children-part10 > td,.children-part10 > li{
  width: 10%;
}
//浮动
.float-left{
  float: left;
}
.float-right{
  float: right;
}
//清除浮动
.clearfix:after{
  content:"";//设置内容为空
  height:0;//高度为0
  line-height:0;//行高为0
  display:block;//将文本转为块级元素
  visibility:hidden;//将元素隐藏
  clear:both;//清除浮动
}
.clearfix{
  zoom:1;//为了兼容IE
}