@import "../../frame/load.scss";

//汉堡图标
.hambur-btn{
  background-color: transparent;
  .icon-bar{
    border: 1px #fff solid;
    width: 20px;
    height: 0;
    margin: 5px 0;
  }
  &:focus{
    + .left-window{
      animation: left-window 0.5s;
      left: 0;
    }
  }
}
header{
  padding: 0 1rem;
}
//左悬窗
.left-window{
  position: absolute;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100vh;
  > div{
    height: 50px;
    padding: 0 1rem 0 1.5rem;
    border-bottom: 1px $color-gary solid;
  }
}
.photo-news1,.photo-op1,.photo-about1,.photo-help1{
  padding: 10px;
  margin-right: 10px;
}
.photo-news1{
  background-position: -20px -50px;
}
.photo-op1{
  background-position: 0 -50px;
}
.photo-about1{
  background-position: -60px -50px;
}
.photo-help1{
  background-position: -40px -50px;
}
.photo-news2,.photo-op2,.photo-about2,.photo-help2{
  padding: 10px 6px;
  background-position: -88px 0;
}
@keyframes left-window{
  from {left: -80vw;}
  to {left: 0;}
}
//主体
main{
  padding: 1rem 1rem 0 1rem;
  padding-top: 15px;
}
.last-btn{
  width: 100%;
  padding: 16px 0;
  border: 1px #888 solid;
}
.photo-contury{
  padding: 10px 6px;
  margin-right: 6px;
  background-position: 30px 0;
}
.main-body{
  border: 1px $color-gary solid;
  margin-bottom: 2rem;
}
.main-theme{
  border-bottom: 1px $color-orange solid;
}
.body-left{
  padding: 1rem;
}
.body-right{
  padding: 0 0.5rem 2rem 0.5rem;
}
.caret{
  border-left: 15px $color-orange solid;
  border-top: 15px transparent solid;
  border-bottom: 15px transparent solid;
}
.option-btn{
  width: 100%;
  padding: 2rem 0;
}
footer{
  height: 60px;
  > .active{
    background-color: $color-blue;
  }
}
.footer-btn{
  position: relative;
  top: 0;
  padding: 3px;
  border-radius: 50%;
}