<div class="optionA" ng-controller="search">
  <div class="flex-row-w1">
    <div class="flex-row-n1 time">
      <strong class="flex-row-n4"><span>发</span><span>布</span><span>时</span><span>间</span></strong>
      <input type="date">
      <span>-</span>
      <input type="date">
    </div>
    <div class="flex-row-n1 list">
      <strong class="flex-row-n4"><span>类</span><span>型</span></strong>
      <select></select>
    </div>
    <div class="flex-row-n1 state">
      <strong class="flex-row-n4"><span>状</span><span>态</span></strong>
      <select></select>
    </div> 
  </div>
  <div class="flex-row-n2">
    <button class="clearBtn" ng-click="clearBtn">清空</button>
    <button class="searchBtn" ng-click="searchBtn">搜索</button>
  </div>
</div>
<div class="listA">
  <div class="flex-row-n4 theme">
    <strong>Article列表</strong>
    <a href="#/b"><button>+新增</button></a>
  </div>
  <div class="listTable">
    <table>
      <tr class="flex-row-n5 tableTop">
        <td><strong>ID</strong></td>
        <td><strong>名称</strong></td>
        <td><strong>类型</strong></td>
        <td><strong>发布时间</strong></td>
        <td><strong>修改时间</strong></td>
        <td><strong>发布者</strong></td>
        <td><strong>状态</strong></td>
        <td><strong>操作</strong></td>
      </tr>
      <tr class="flex-row-n5">
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
      </tr>
    </table>
  </div>
</div>