body{
  background-color: #fafafa;
}
.color-green{
  color: #28b078;
}
.bgcolor-green{
  background-color: #28b078;
}
.color-red{
  color: red;
}
.color-gray-h{
  color: #888;
}
.nav-top,.nav-sm-login,.nav-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.nav-sm-login{
  width: 100px;
}
.photo1,.photo2,.photo3{
  display: inline-block;
  padding: 12px 13px;
  background-image: url(sprite.png);
}
.photo2{
  background-position-x: -30px;
}
.photo3{
  background-position-x: -60px;
}
.nav-bottom{
  height: 60px;
  padding: 0;
}
.nav-sm-option > .active{
  border-bottom: 5px #fff solid;
  margin-bottom: -5px;
}
.sm-li > a{
  color: #fff;
}
.nav-xs-login > a{
  color: #000;
}
.nav-xs-login,.nav-xs-option{
  display: none;
}
@media screen and (max-width:768px){
  .nav-sm-option,.nav-sm-login{
    display: none;
  }
  .nav-xs-login,.nav-xs-option{
    display: block;
  }
}
.nav-btn{
  background-color: #fff;
}
.icon-bar{
  background-color: #888;
}
.xs-option{
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  background-color: #fff;
  display: none;
  list-style-type: none;
}
.xs-option > li{
  padding: 20px 0 20px 20px;
  border-bottom: 1px #eee solid;
}
.xs-option > li:hover{
  background-color: #eee;
}
.xs-option:hover{
  display: block;
}
.xs-option > li > a{
  display: block;
}
.nav-btn:focus + .xs-option{
  display: block;
}
/*主体*/
.body-space{
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px #888 solid;
  clear: both;
}
.body-list,.body-main{
  padding: 0;
}
.body-list > div{
  float: left;
  line-height: 18px;
  color: #888;
}
.body-list > li{
  float: left;
  margin: 0 10px;
  list-style-type: none;
}
.body-list > .active{
  color: #fff;
  background-color: #28b078;
}
.body-work{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body-info{
  position: relative;;
  width: 32%;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
}
@media screen and (max-width: 1200px){
  .body-info{
    width: 48%;
  }
  .body-infoempty{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .body-work{
    justify-content: center;
  }
  .body-info{
    width: 95%;
    max-width: 500px;
  }
}
.fly-text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.fly-text > div{
  padding: 30px;
}
.body-info:hover > .fly-text{
  animation: myfirst 1s;
  -webkit-animation: myfirst 1s;
  display: block;
  z-index: 100;
}
@keyframes myfirst{
	from {background: transparent;left: -100%;}
	to {background:rgba(0, 0, 0, 0.5);left: 0;}
}
@-webkit-keyframes myfirst{
  from {background: transparent;left: -100%;}
	to {background:rgba(0, 0, 0, 0.5);left: 0;}
}

.body-infoempty{
  width: 32%;
  height: 0;
}
.body-table{
  width:100%;
  border: 0 #eee solid;
}
.table-space{
  padding: 5px;
}
.table-ten > td{
  width:10%;
  border: 0;
  padding: 0;
}
.table-part1{
  display: flex;
  align-items: center;
}
.table-theme1{
  height: 20px;
  font-size: 1.5rem;
}
.table-theme2{
  height: 70px;
  margin: 0;
  word-break:break-all;
  overflow: hidden;
}
.table-star{
  padding: 0 8px;
  margin-left: 5px;
  background-image: url(sprite.png);
  background-position-x: -140px;
}
/*底部*/
.footer{
  margin-top: 50px;
}
.footer,.footer-part4{
  color: #fff;
  background-color: #28b078;
}
.footer-part{
  display: flex;
  flex-wrap: wrap;
}
.footer-part1,.footer-part2{
  width: 30%;
  min-width: 216px;
}
.footer-part1 > p,.footer-part2 > p{
  margin: 25px 0;
}
.footer-part3{
  width: 120px;
  text-align: center;
  margin-top: 25px;
  margin-right: 0;
}
.footer-empty{
  flex: 1;
}
.footer-link{
  color: #fff;
}
.footer-part4{
  border: 2px #31bb87 solid;
}