.flex-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-default{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-txt{
  color: #ccc;
}
/*头部*/
.header1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40px;
  border: 0;
  border-radius: 0;
  background-color: #1277dc;
}
.header1 > div{
  color: #fff;
}
.header1-right a{
  color: #fff;
}
.header1-right > div{
  width: 3.57rem;
  padding: 10px 0;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}
.header1-right > .active{
  width: 7.143rem;
  background-color: #fff;
}
.header1-right > .active > a{
  color: #000;
}
.header2{
  height: 60px;
  background-color: #f9f9f9;
}
.header2-right{
  flex-wrap: wrap;
  width: 45%;
  min-width: 300px;
}
.header2-right > button{
  border: 0;
  box-shadow: 1px 1px 1px #ccc;
}
.header2-right > .active{
  color: #fff;
  background-color: #1277dc;
}
.header1,.header2{
  margin-bottom: 0;
}
/*主体上*/
.body-top{
  margin: 25px 0;
}
.body-top > .flex-two{
  flex-wrap: wrap;
}
.body-list{
  flex-direction: column;
}
.list0{
  width: 10vw;
  min-width: 6.43rem;
  text-align: center;
}
.list1,.list2{
  position: relative;
  background-color: #ccc;
}
.active .list1,
.active .list2,
.body-list:hover .list1,
.body-list:hover .list2{
  background-color: #ff7f00;
}
.active > .list-txt,
.body-list:hover > .list-txt{
  color: #ff7f00;
}
.list1{
  width: 100%;
  height: 5px;
  top: 7px;
}
.list2{
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  margin: 0 auto;
  top: -5px;
  color: #fff;
}
/*主体下*/
.vetline{
  width: 0;
  height: 15px;
  border: 1px #1277dc solid;
  margin-right: 2px;
}
.option-th{
  width: 100%;
  height: 30px;
  color: #1277dc;
  background-color: #f2f2f2;
}
.photo1,.photo2,.photo3{
  background-image: url(sprite.png);
}
.photo1{
  padding: 10px;
  margin: 5px 5px 0 5px;
}
.photo2{
  padding: 10px 12px 10px 10px;
  margin: 5px 3px 0 5px;
  background-position-y: 20px;
}
.photo3{
  padding: 10px 6px 10px 10px;
  margin: 5px 7px 0 7px;
  background-position-x: 16px;
}
.option-list{
  width: 100%;
  min-height: 60px;
  border: 1px #f2f2f2 solid;
  background-color: #fbfcff;
}
.option-list .radio{
  margin: 0 0 0 30px;
}
.option-list .btn-group{
  margin-right: 15px;
}
.btn-radio{
  display: none;
}
.radio-on{
  float: left;
  width: 1.143rem;
  height: 1.143rem;
  border: 1px #333 solid;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 10px;
}
.radio-in{
  border: 2px #fff solid;
  border-radius: 50%;
}
input:checked + .radio-on{
  border: 1px #1277dc solid;
  background-color: #1277dc;
}
.caret-out{
  padding: 4px 5px;
  border-radius: 2px;
  background-color: #1277dc;
}
.btn-list small{
  color: #999;
}
.caret{
  border-top:5px #fff solid;
}
.btn-list{
  height: 30px;
  min-width: 6.857rem;
  border-radius: 0;
  padding: 0 0.143rem 0 0.8rem;
}
.btn-option{
  position: absolute;
  top: 29px;
  width: 6.857rem;
  padding-left: 0;
  border: 1px #ccc solid;
  list-style: none;
  text-indent: 10px;
  display: none;
}
.btn-list:focus + .btn-option,.btn-option:hover{
  display: block;
}
.btn-option > li:hover{
  background-color: #ccc;
}
.list-size{
  flex: 1;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.list-size > .radio{
  width: 100%;
}
.list-size > .flex-two{
  flex-wrap: wrap;
}
.size{
  width: 20%;
  min-width: 90px;
}
.size > input{
  width: 3.571rem;
}
@media screen and (max-width:540px){
  .list-size > .flex-two{
    display: block;
  }
  .size{
    margin: 5px 0;
  }
}
.last-page{
  padding: 100px 0 80px 0;
}
@media screen and (max-width:768px){
  .last-page{
    padding: 50px 0 40px 0;
  }
}
.last-page > button{
  width: 9.643rem;
  height: 2.5rem;
  color: #fff;
  font-size: 2rem;
  line-height: 0;
  background-color: #e34f4f;
}
/*底部*/
.footer-top{
  min-height: 160px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}
.footer-top div,.footer-top a{
  color: #333;
}
.footer-top a:hover{
  color: #1277dc;
  text-decoration: none;
}
.footer-left,.footer-center,.footer-right{
  height: 60px;
}
.footer-center{
  flex-wrap: wrap;
}
.footer-center > div{
  width: 33%;
  padding-bottom: 10px;
}
.footer-right{
  min-width: 13.571rem;
}
.footer-bottom{
  color: #fff;
  background-color: #1277dc;
}